body {
  width: 100vw;
  font-family: 'Playfair Display', sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(109,109,154,1) 66%, rgba(0,212,255,1) 100%);
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
